@import 'libs/bootstrap-reboot.min';
@import 'libs/stylesheet';

@import 'base/variables';
@import 'blocks/title';

* {
    font-family: 'SF Pro Display', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/consultation';
@import 'blocks/questions';
@import 'blocks/footer';

@import 'blocks/media';
