.footer{
    width: 100%;
    min-height: 480px;
    background: #050B2B;
    .footer__inner{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(4, auto);
        .block__info{
            margin-top: 80px;
            &-1{
                margin-top: 21px;
                color: #f8f8f8;
            }
            .katalog{
                list-style-type: none; 
                padding: 0;
                color: #fff;
                font-size: 20px;
                font-weight: 500;
                li{
                    padding-bottom: 18px; 
                    cursor: pointer; 
                    &:hover{
                        color: $main-color;
                    }
                }
                .katalog-item{
                    color: #f8f8f8;
                    padding-bottom: 24px;
                }
            }
        }
        .block_1{
            margin-right: 115px;
            min-width: 250px;
        }
        .block_2{
            margin-right: 95px;
            min-width: 260px;
        }
        .block_3{
            margin-right: 152px;
            min-width: 203px;
        }
        .block_4{
            min-width: 207px;
        }  
    }
    &__polity{
        min-height: 80px;
        border-top: 1px solid rgba(255, 255, 255, 0.10);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        a{
            font-size: 14px;
            font-weight: 400;
            color: #f8f8f8;
        }
    }
}